$colorbackground:#f7faff;
$colorbackmenu:#FAFAFA;
$colorline:#b3aca7;
$colorlinkhover:#e2dedb;
$colorprimary: #005978;
$colorprimaryshadow: #35B4D5;
$colorshadow1:#1C9DC4;
$colorshadowparcours:#283655;
$colorh4parcours:#ff4e50;
$colorh6parcours:#edca21;
$colorbackgroundportfolio:rgba(179,172,167,0.08);
$colorbackgroundotherskills:#375E97;
// pas utilisé encore :

$colorsecondary: #eeeeee;
$colortertiary: #99E2D0;
$colorgreytext1: #5c5c5c;
$shadowmobile: 0px 0px 10px darkgrey;
$shadowbox:1px 5px 18px white; //à priori il s'en cogne des couleurs
$textshadow:grey;