@import "./variables";
@import "./animations";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');

// ************** Général
// ************** header
// ************** langage
// ************** formation
// ************** Parcours


html{
    scroll-behavior: smooth;
    // rend le scroll fluide sur la page
}
body{
    color: #283655 !important;
    // important : met en avance ce style (comparé à la masse de styles de bootstrap)
    background-color: $colorbackground !important;
    font-family: 'Rambla', sans-serif;
}
h2, h3{
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow:  -1px -1px 1px #283655;
}
li{
    list-style: none;
}

// ************************* HEADER ***************************

.navbar {
    background-color: $colorbackmenu;    
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;    
}
.navbar-nav {
    width: 80% !important;
    margin: 0 auto;
    justify-content: space-between;
}
header{
    text-align: center;
    // height: 100%;
    height: 80vh;
    // prend toute la hauteur de la page du navigateur
    background: url(../media/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    // ajuste un peu la photo de fond     
}
h1{
    padding: 90px 0 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.3em;
    text-transform: uppercase;
}

#line{
    height: 1px;
    background-color: $colorline;
    width: 25%;
    margin: 0 auto;    
}
h2{
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase;
}
.presentation{
    height: 240px;
    margin-top: 20px;
}
.infos{
    border: 1px solid $colorline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
// .photo {
//     border: 1px solid #b3aca7;
//     position: relative;    
// }
// .photo img {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     height: auto;
// }

.photo{
    border: 1px solid $colorline;
    display: flex;    
}
.photo img{    
    justify-content: center;
    align-items: center;
    padding: 5px;
    max-width: 90%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 4px #111;
}
header .button{
    margin-top: 45px;
    & a{
        padding: 20px 80px;
        border: 1px solid $colorline;
        width: 300px;
        &:hover{
            background-color: $colorline;
            color: $colorlinkhover;
            transition:all 0.3s ease-in-out;
            text-decoration: none;
        }
    }   
}

// ************************* Langages ***************************
#langages{
    padding: 80px 110px 80px 50px;
    margin: 120px 0 0 6%;
    height: 620px;
    width: 47%;
    max-width: 640px;
    // Pour les gradients, on utilisera cssgenerator.org 
    background: linear-gradient(115deg,#eeed64 0%, rgba(200,38,180,0.47) 40%, rgba(89,155,223,0.48) 80%);
    // pour la forme spécific, un autre générateur : https://bennettfeely.com/clippy/ 
    clip-path: polygon(0 7%, 100% 0%, 83% 100%, 0 94%);
    & .bar{
        padding: 10px 0 4px 0;
        letter-spacing: 0.1em;
    }
}
// ************************* Formation ***************************
#formation{
    position: relative;
    top: -200px;
    float: right;
    margin-right: 5%;
    padding: 100px 0 60px 50px;
    width: 45%;
    max-width: 660px;
    background: linear-gradient(19deg, rgba(0,180,219,0.69) 0%, #0083b0 80%);
    clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0 91%);
    & h4{
        font-weight: bold;
        letter-spacing: 0.08em;
        padding-bottom: 10px;
        color:$colorprimary ;
        text-shadow: -1px -1px 1px $colorprimaryshadow;
    }
}
#autodidacte{
    padding-top: 20px;
}
#fcc{
    padding: 50px 0 0 9%;
}
#occ{
    padding: 50px 0 0 18%;
}

.counter {
    display: flex;
    text-align: center;
}
.data{
    border: 1px solid $colorprimaryshadow;
    width: 170px;
    margin: 0 4%;
    box-shadow: 0 0 8px $colorshadow1;
    padding: 5px 20px;
}
.counter-value{
    font-size: 2em;
}
.data-span{
    font-size: 1.8em;
}

// ************************* Parcours ***************************
#parcours {
    max-width: 800px;
    margin: 640px auto 180px auto;
    padding: 40px 30px 100px 30px;
    background: url(/media/parcours.jpg) no-repeat fixed 50% 50%; //fixé dans le fond (effet défilement) et centré
    background-size: cover; //pour ne pas qu'elle se répète et occupe bien l'espace (?)
    border-radius: 8px;
    box-shadow: -1px -1px 8px $colorshadowparcours;
    & h3{
        font-size: 2.5em;
        padding-bottom: 30px;
    }
    & h4{
        font-size: 1.6em;
        color: $colorh4parcours;
        margin-left: 20px;
    }
    & h6{
        font-style: italic;
        color: $colorh6parcours;
        margin-left: 20px;
    }
    & p{
        line-height: 1.9em; //pour espacer un peu les lignes
    }
}
.timeline{
    border-top: 3px solid;
    border-image: linear-gradient(to right, $colorh6parcours, $colorh4parcours );
    border-image-slice: 1; // n'apparaît pas sans ça. Cette propriété permet de séparer le contenu des border
    margin: 0;
    padding: 40px;
    position: relative;
    &:nth-child(1):after{ //appel le premier enfant des timeline et ajoute qq chose. le CSS peut ajouter du texte       
        content: '▲'; //alt 30
        color: $colorh4parcours;
        position: absolute;
        top: -10px;
        right: -10px;
        box-sizing: content-box !important;        
    }
    &:nth-child(1){
        border-bottom: 3px solid;
        // border-right: 3px solid; pas besoin puisque traité en "odd" plus bas
        border-top: none;
        width: 80%;
    }
    &:nth-child(2){
        border-top: none;        
    }
    &:nth-child(odd){  //impair : odd pair : even
        border-right: 3px solid;
        padding-left: 0;
    }
    &:nth-child(even){
        border-left: 3px solid;
        padding-right: 0;
    }
}

// 2h24

// hallucinant : après plusieurs manip, le responsive ne fonctionne qu'en important ici ci-dessous
@import "./desktopresponsive";

