@import "./variables";
@import "./animations";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');

// ************** Général
// ************** header
// ************** langage
// ************** formation
// ************** Parcours
// ************** Portfolio


html{
    scroll-behavior: smooth;
    // rend le scroll fluide sur la page
}
body{
    color: #283655 !important;
    // important : met en avance ce style (comparé à la masse de styles de bootstrap)
    background-color: $colorbackground !important;
    font-family: 'Rambla', sans-serif;
}
h2, h3{
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow:  -1px -1px 1px #283655;
}
li{
    list-style: none;
}

// ************************* HEADER ***************************

.navbar {
    background-color: $colorbackmenu;    
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;    
}
.navbar-nav {
    width: 80% !important;
    margin: 0 auto;
    justify-content: space-between;
}
header{
    text-align: center;
    // height: 100%;
    height: 80vh;
    // prend toute la hauteur de la page du navigateur
    background: url(../media/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    // ajuste un peu la photo de fond     
}
h1{
    padding: 90px 0 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.3em;
    text-transform: uppercase;
}

#line{
    height: 1px;
    background-color: $colorline;
    width: 25%;
    margin: 0 auto;    
}
h2{
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase;
}
.presentation{
    height: 240px;
    margin-top: 20px;
}
.infos{
    border: 1px solid $colorline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
// .photo {
//     border: 1px solid #b3aca7;
//     position: relative;    
// }
// .photo img {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     height: auto;
// }

.photo{
    border: 1px solid $colorline;
    display: flex;    
}
.photo img{    
    justify-content: center;
    align-items: center;
    padding: 5px;
    max-width: 90%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 4px #111;
}
header .button{
    margin-top: 45px;
    & a{
        padding: 20px 80px;
        border: 1px solid $colorline;
        width: 300px;
        &:hover{
            background-color: $colorline;
            color: $colorlinkhover;
            transition:all 0.3s ease-in-out;
            text-decoration: none;
        }
    }   
}

// ************************* Langages ***************************
#langages{
    padding: 80px 110px 80px 50px;
    margin: 120px 0 0 6%;
    height: 620px;
    width: 47%;
    max-width: 640px;
    // Pour les gradients, on utilisera cssgenerator.org 
    background: linear-gradient(115deg,#eeed64 0%, rgba(200,38,180,0.47) 40%, rgba(89,155,223,0.48) 80%);
    // pour la forme spécific, un autre générateur : https://bennettfeely.com/clippy/ 
    clip-path: polygon(0 7%, 100% 0%, 83% 100%, 0 94%);
    & .bar{
        padding: 10px 0 4px 0;
        letter-spacing: 0.1em;
    }
}
// ************************* Formation ***************************
#formation{
    position: relative;
    top: -200px;
    float: right;
    margin-right: 5%;
    padding: 100px 0 60px 50px;
    width: 45%;
    max-width: 660px;
    background: linear-gradient(19deg, rgba(0,180,219,0.69) 0%, #0083b0 80%);
    clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0 91%);
    & h4{
        font-weight: bold;
        letter-spacing: 0.08em;
        padding-bottom: 10px;
        color:$colorprimary ;
        text-shadow: -1px -1px 1px $colorprimaryshadow;
    }
}
#autodidacte{
    padding-top: 20px;
}
#fcc{
    padding: 50px 0 0 9%;
}
#occ{
    padding: 50px 0 0 18%;
}

.counter {
    display: flex;
    text-align: center;
}
.data{
    border: 1px solid $colorprimaryshadow;
    width: 170px;
    margin: 0 4%;
    box-shadow: 0 0 8px $colorshadow1;
    padding: 5px 20px;
}
.counter-value{
    font-size: 2em;
}
.data-span{
    font-size: 1.8em;
}

// ************************* Parcours ***************************
#parcours {
    max-width: 800px;
    margin: 640px auto 180px auto;
    padding: 40px 30px 100px 30px;
    background: url(/media/parcours.jpg) no-repeat fixed 50% 50%; //fixé dans le fond (effet défilement) et centré
    background-size: cover; //pour ne pas qu'elle se répète et occupe bien l'espace (?)
    border-radius: 8px;
    box-shadow: -1px -1px 8px $colorshadowparcours;
    & h3{
        font-size: 2.5em;
        padding-bottom: 30px;
    }
    & h4{
        font-size: 1.6em;
        color: $colorh4parcours;
        margin-left: 20px;
    }
    & h6{
        font-style: italic;
        color: $colorh6parcours;
        margin-left: 20px;
    }
    & p{
        line-height: 1.9em; //pour espacer un peu les lignes
    }
}
.timeline{
    border-top: 3px solid;
    border-image: linear-gradient(to right, $colorh6parcours, $colorh4parcours );
    border-image-slice: 1; // n'apparaît pas sans ça. Cette propriété permet de séparer le contenu des border
    margin: 0;
    padding: 40px;
    position: relative;
    &:nth-child(1):after{ //appel le premier enfant des timeline et ajoute qq chose. le CSS peut ajouter du texte       
        content: '▲'; //alt 30
        color: $colorh4parcours;
        position: absolute;
        top: -10px;
        right: -10px;
        box-sizing: content-box !important;        
    }
    &:nth-child(1){
        border-bottom: 3px solid;
        // border-right: 3px solid; pas besoin puisque traité en "odd" plus bas
        border-top: none;
        width: 80%;
    }
    &:nth-child(2){
        border-top: none;        
    }
    &:nth-child(odd){  //impair : odd pair : even
        border-right: 3px solid;
        padding-left: 0;
    }
    &:nth-child(even){
        border-left: 3px solid;
        padding-right: 0;
    }
}

// ************** Portfolio ****************************
#portfolio{
    margin: 0 2% 0 2%;
    padding: 20px 10px 60px 40px;
    background-color: $colorbackgroundportfolio;
    box-shadow: 0px 0px 1px $colorline;
    & h3{
        font-size: 3em;
        padding-bottom: 15px;        
    }
    // & img{
    //     max-width: 300px;      //temporaire Guigui ça
    // }
}
.projet {
    display: flex;
    &:nth-child(2){
        margin-left: 3%;
    }
    &:nth-child(3){
        margin-left: 6%;
    }
}
.cadre{
    position: relative;
    padding: 40px 20px 25px 0;
    width: 60%;
    max-width: 600px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 10px 8px;
    color: $colorline;
    text-align: center;
}
.img-container {
    height: 250px;
    width: 90%;
    max-width: 500px;
    overflow: hidden; //tout ce qui dépasse sera caché
    margin: 0 auto;
    box-shadow: 1px 1px 10px #111;
    & img {
        position: relative;
        height: 100%;
        margin: 0 auto;        
    }
    &:hover img {
        transform: scale(1.07);        
        transform-origin: 50% 50%;
        filter: contrast(140%);
        transition: 0.3s ease-in-out ;
    }
}
.cadre:before, .cadre:after {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 1px solid;
    transition: all 0.3s ease;
    border-radius: 2px;
    z-index: -1; //en retrait : pour ne pas que l'after s'agrandisse devant l'image
}
.cadre:before{
    top: 15px;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cadre:after{
    bottom: 0;
    right: 15px;
    border-top-color: transparent;
    border-left-color: transparent;
}

.cadre:hover:before, .cadre:hover:after{
    border-color: $colorline;
    width: 100%;
    height: 100%;
}

.legende {
    max-width: 350px;
    padding: 50px 0 0 20px;
    opacity: 0;
    transition: 4s ease-in-out;
}

.projet:hover .legende {   // interessant : ici avec le hover sur projet, on va déclencher un élément dans .legende
    opacity: 1;
    transition: 2s ease;
}

.legende a {
    padding: 16px 10px 10px 10px;
    margin-top: 20px;
    font-size: 1.1em;
    float: right;
    border-radius: 3px;
    background: $colorlinkhover;
    //généré avec animista.net  /basic /shadow-drop / shadwo-pop-br la dessous :
    animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    &:active{
        animation: shadow-push 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }
}



// Vid 2 : 38min 36s
// hallucinant : après plusieurs manip, le responsive ne fonctionne qu'en important ici ci-dessous
@import "./desktopresponsive";

